:root {
  --bg: #87cefa;
  --black: #232327;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Courier Prime", monospace;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 7%;
  border-bottom: 1px solid var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent;
}

.navbar .navbar-log {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  font-family: "Lovers Quarrel", cursive;
}
.navbar .navbar-log span {
  color: var(--black);
}
.navbar .navbar-nav a {
  font-weight: 100;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 0 15px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover {
  color: var(--black);
}

.navbar .navbar-nav a::after {
  display: block;
  content: "";
  padding-bottom: 2px;
  border-bottom: 2px solid var(--black);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar .navbar-ektra a {
  color: var(--black);
  margin: 0 5px;
}

.navbar .navbar-ektra a:hover {
  color: #fff;
}
#hamburger-menu {
  display: none;
}

/* hero */
.hero {
  background-color: #48d1cc;
  min-height: 100vh;
  padding: 23rem 14rem;
}

.hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content-wrapper {
  display: flex;
  align-items: center;
}

.content .content-wrapper .content-image {
  padding: 10px;
}
.content .content-wrapper .content-image img {
  width: 30rem;
  border: 10px solid #fff;
  border-radius: 20px;
}

.content .content-wrapper .content-text {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.content .content-wrapper .content-text h2,
.project h2,
.contact h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
.content .content-wrapper .content-text p {
  font-weight: 200;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.11em solid;
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--black);
  }
}
.content .content-wrapper .content-text a {
  display: inline-block;
  margin: 20px;
  color: var(--black);
  padding: 8px 25px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  transition: all 0.2s ease-in;
}
.content .content-wrapper .content-text a:hover {
  color: var(--bg);
  border: none;
}

.content .content-wrapper .content-text span,
.contact span {
  color: var(--black);
}
/* hero and */

/* menu project */
.project,
.contact {
  min-height: 100vh;
  padding: 100px 7% 16px;
}
.project p,
.contact p {
  max-width: 60%;
  margin: auto;
  text-align: center;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1, 5;
  color: var(--black);
}
/* menu project and */

/* contact start */
.contact .row {
  display: flex;
  background-color: #0b0b105d;
  margin-top: 10px;
}

.contact .row form {
  flex: 1 1 100px;
  padding: 20px 30px 10px;
  text-align: center;
}
.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #e0ffff;
  border: 2px solid var(--black);
  border-radius: 10px;
  padding: 16px;
}
.contact .row form .input-grup input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: none;
}
.contact .row form .btn {
  padding: 16px 20px;
  margin-top: 23px;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #1e90ff;
}
.contact .row form .btn:hover {
  color: var(--bg);
}
.contact .row form .input-grup .icon {
  color: #1e90ff;
}
::placeholder {
  color: #6fb0f1;
}
/* contact end */

/* footer start */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
/* footer end */

/* media queris */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
.hero {
  padding: 15rem 14rem;
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 65%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    background-color: var(--black);
    width: 200px;
    height: 100vh;
    right: -100%;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 0 8px;
    padding: 10px;
    font-size: 20px;
  }
  .navbar .navbar-nav a:hover {
    color: var(--bg);
  }
  .navbar .navbar-nav a::after {
    border-bottom: 2px solid #fff;
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
  .hero {
    padding: 15rem 7rem;
  }
}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .wave {
    display: none;
  }
  .hero {
    background-color: transparent;
    width: 100%;
    padding: 20rem 10rem; /* Ubah padding sesuai kebutuhan */
  }

  .content-wrapper {
    flex-direction: column; /* Mengubah tata letak ke flex column */
    text-align: center; /* Pusatkan teks */
  }

  .content-text {
    margin-top: 10px; /* Sesuaikan margin sesuai kebutuhan */
  }
  .contact,
  .hero {
    padding: none;
    min-height: 0;
  }
  .contact .row,
  .contact h2,
  .hero,
  .contact p {
    position: relative;
    left: 3rem;
  }
  .contact p {
    padding: 20px;
    max-width: 80%;
  }
  footer {
    width: 111%;
  }
}
